* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: "Eczar", serif;
  font-size: 1.6rem;
}

/* container part */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* header part */
header {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  width: 100%;
  color: #ff671b;
  background-image: url(./images/pizza-bg.jpg);
}

h1 {
  margin-bottom: 1rem;
  font-family: "Pacifico", cursive;
  font-size: 10rem;
  text-align: center;
}

/* nav part */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.nav-item {
  transition: transform 0.3s;
}

.nav-item:hover {
  /* transform: translateY(-10%); */
  transform: scaleX(1.1);
}

.nav-item-link.active {
  border-bottom: 2px solid #ff671b;
}

.nav-item-link {
  padding: 2rem;
  font-size: 2rem;
  display: inline-block;
}

/* main part */
@media screen and (max-width: 767px) {
  main {
    width: 100% !important;
    padding: 3.3vmax 6vw;
  }
}

@media screen and (min-width: 768px) {
  main {
    width: 75%;
  }
}

.main-home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.3vmax 3vw;
}

/* home part */
.main-home h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.main-home p {
  font-size: 2rem;
  margin: 2rem 0;
}
.iframe-wrapper {
  display: flex;
  justify-content: space-around;
}

/* menu part */
.main-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 40px;
}

.main-menu img {
  width: 100%;
}

.main-menu h3 {
  text-align: center;
}

.main-menu p {
  text-align: center;
}

/* footer part */
footer {
  background-image: url(./images/pizza-bg.jpg);
  width: 100%;
}

footer > p {
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
}
